<div class="html">
  <div class="slide-16-9-welcome-1">
    <div class="component-desigin-2-2">
      <img src= <%= asset_path('SVG/vector_1_3.svg') %> class="vector-1-3" alt="vector-1" />
      <img src= <%= asset_path('SVG/vector_2_4.svg') %> class="vector-2-4" alt="vector-2" />
      <img src= <%= asset_path('SVG/vector_3_5.svg')%> class="vector-3-5" alt="vector-3" />
    </div>
    <div class="component-desigin-3-6">
      <img src= <%= asset_path('SVG/vector_1_7.svg') %> class="vector-1-7" alt="vector-1" />
      <img src= <%= asset_path('SVG/vector_2_8.svg') %> class="vector-2-8" alt="vector-2" />
      <img src= <%= asset_path('SVG/vector_3_9.svg') %> class="vector-3-9" alt="vector-3" />
    </div>
    <div class="component-3-10">
      <img src= <%= asset_path('SVG/vector_14_11.svg') %> class="vector-14-11" alt="vector-14" />
      <img src= <%= asset_path('SVG/vector_15_12.svg') %> class="vector-15-12" alt="vector-15" />
        <p class="text-13"><span class="text-white">PDF</span></p>
    </div>
    <div class="component-desigin-4-14">
      <img src= <%= asset_path('SVG/vector_1_15.svg') %> class="vector-1-15" alt="vector-1" />
      <img src= <%= asset_path('SVG/vector_2_16.svg') %> class="vector-2-16" alt="vector-2" />
      <img src= <%= asset_path('SVG/vector_3_17.svg') %> class="vector-3-17" alt="vector-3" />
    </div>
    <div class="component-2-18">
      <img src= <%= asset_path('SVG/vector_14_19.svg') %> class="vector-14-19" alt="vector-14" />
      <img src= <%= asset_path('SVG/vector_15_20.svg') %> class="vector-15-20" alt="vector-15" />
      <p class="text-21"><span class="text-white">Word</span></p>
    </div>
    <div class="welcome-22">
      <p class="text-23"><span class="text-white">Text</span></p>
      <p class="text-24"><span class="text-white">Welcome.</span></p>
    <div class="component-desigin-5-25">
      <img src= <%= asset_path('SVG/component_desigin_4_26') %> class="component-desigin-4-26" alt="component-desigin-4" />
      <img src= <%= asset_path('SVG/vector_7_27.svg') %> class="vector-7-27" alt="vector-7" />
    </div>
  </div>
</div>
<div class="component-desigin-1-28">
  <img src= <%= asset_path('SVG/vector_1_29.svg') %> classs="vector-1-29" alt="vector-1" />
  <img src= <%= asset_path('SVG/vector_2_30.svg') %> class="vector-2-30" alt="vector-2" />
  <img src= <%= asset_path('SVG/vector_3_31.svg') %> class="vector-3-31" alt="vector-3" />
</div>
<div class="component-info-32">
  <div class="component-desigin-3-33">
    <img src= <%= asset_path('SVG/vector_1_34.svg') %> class="vector-1-34" alt="vector-1" />
    <img src= <%= asset_path('SVG/vector_2_35.svg') %> class="vector-2-35" alt="vector-2" />
    <img src= <%= asset_path('SVG/vector_3_36.svg') %> class="vector-3-36" alt="vector-3" />
  </div>
  <div class="component-info-37">
    <p class="text-38"><span class="text-white">Info</span></p>
  <div class="info-text-39">
    <img src= <%= asset_path('SVG/component_desigin_4_40.svg') %> class="component-desigin-4-40" alt="component-desigin-4" />
    <p class="text-41"><span class="text-white">About</span></p>
    <img src= <%= asset_path('SVG/vector_4_42.svg') %> class="vector-4-42" alt="vector-4" />
  </div>
  <div class="info-text-43">
    <img src= <%= asset_path('SVG/component_desigin_4_44.svg') %> class="component-desigin-4-44" alt="component-desigin-4" />
    <p class="text-45"><span class="text-white">Skills</span></p>
    <img src= <%= asset_path('SVG/vector_4_46.svg') %> class="vector-4-46" alt="vector-4" />
  </div>
  <div class="info-text-47">
    <img src= <%= asset_path('SVG/component_desigin_4_48.svg') %> class="component-desigin-4-48" alt="component-desigin-4" />
    <p class="text-49"><span class="text-white">Project</span></p>
    <img src= <%= asset_path('SVG/vector_4_50.svg') %> class="vector-4-50" alt="vector-4" />
  </div>
</div>
</div>
  <div class="contact-51">
    <img src= <%= asset_path('SVG/vector_5_52.svg') %> class="vector-5-52" alt="vector-5" />
    <img src= <%= asset_path('SVG/vector_6_53.svg') %> class="vector-6-53" alt="vector-6" />
    <p class="text-54"><span class="text-white">Contact</span></p>
  </div>
  <p class="text-55"><span class="text-white">C.V.</span></p>
</div>

</body>
</html>
